/* CONTAINERS */ 

body { 
   color: #222; 
   font: 13px/18px arial, sans-serif; 
   margin: 0; 
} 

.sidebar { 
   -moz-box-sizing: border-box; 
   box-sizing: border-box; 
   overflow-y: auto; padding: 12px; 
   position: absolute; 
   width: 100%; 
} 

.block { 
   display: block; 
} 

.block + .block { 
   margin-top: 16px; 
} 

.inline { 
   display: inline-block; 
} 

.inline + .inline { 
   margin-left: 12px; 
} 

.top, .top-left { 
   top: 0; 
   position: absolute; 
} 

.top-right { 
   top: 0; 
   position: absolute; 
   right: 0; 
} 

.bottom, 
.bottom-left, 
.button-bar { 
   bottom: 0; 
   position: absolute; 
} 

.bottom-right, 
.button-bar-right { 
   bottom: 0; 
   position: absolute; 
   right: 0; 
} 

/* TEXT */ 

h1,
h2, 
h3, 
h4, 
h5, 
h6 { 
   color: #000; 
   font: 16px/24px arial, sans-serif, normal; 
} 

a { 
   color: #15c; 
   cursor: pointer; 
   text-decoration: none; 
} 

a:hover { 
   text-decoration: underline; 
} 

.current { 
   color: #dd4b39; 
   font-weight: bold; } 

.error { 
   color: #dd4b39; 
} 

.gray, 
.grey { 
   color: #777; 
} 

.secondary, 
.small { 
   color: #777; 
   font: 11px/16px arial, sans-serif; 
} 

.green {
   color: #2d8c07;
   font: 16px/24px arial, sans-serif, normal; 
} 

.yellow {
   color: #f5df38;
   font: 16px/24px arial, sans-serif, normal; 
} 

.red {
   color: #b01212;
   font: 16px/24px arial, sans-serif, normal; 
} 

.big {
   color: #000;
   font: 16px/24px arial, sans-serif, normal; 
}
